.coupon-container {
  width: 314px;
  clear: both;
  padding: 30px 0;
  text-align: center;
  margin: 0 auto;
  line-height: 18px;
}

.stamp * {
  padding: 0;
  margin: 0;
  list-style: none;
}

.stamp {
  width: 250px;
  padding: 0 10px;
  position: relative;
  overflow: hidden;
}

.stamp:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  z-index: -1;
}

.stamp:after {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
  z-index: -2;
}

.stamp i {
  position: absolute;
  left: 20%;
  top: 45px;
  height: 190px;
  width: 390px;
  background-color: rgba(255, 255, 255, .15);
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg); /* Webkit内核浏览器 */
  pointer-events: none;
}

.stamp .par {
  float: left;
  padding: 8px 7px;
  border-right: 2px dashed rgba(255, 255, 255, .3);
  text-align: left;
  width: 60%;
}

.stamp .par p {
  color: #fff;
  font-size: 16px;
  line-height: 21px;
}

.stamp .par span {
  font-size: 24px;
  color: #fff;
  margin-right: 5px;
  line-height: 65px;
}

.stamp .par .sign {
  font-size: 20px;
}

.stamp .par sub {
  position: relative;
  top: -5px;
  color: rgba(255, 255, 255, .8);
}

.stamp .copy {
  display: inline-block;
  padding: 21px 14px;
  margin-top: 15px;
  width: 100px;
  vertical-align: text-bottom;
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: initial;
}

.stamp .copy p {
  font-size: 16px;
  margin-top: 15px;
}

/* 样式 */
.stamp-cell {
  width: 314px;
  margin-top: 15px;
  margin-bottom: 10px;
  background: #50ADD3;
  background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 4px, #50ADD3 4px);
  background-size: 12px 8px;
  background-position: -5px 10px;
}

.stamp-cell:before {
  background-color: #50ADD3;
  left: 5px;
  right: 5px;
}

.stamp-cell .copy {
  padding: 14px 7px 8px 10px;
  font-size: 20px;
}

.stamp-cell .copy p {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 8px;
}

.stamp-cell .copy .submit {
  background-color: #fff;
  color: #000;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  display: block;
}

.stamp-cell .copy .non-submit {
  background-color: #eee;
  color: #666;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  display: block;
}

.coupon-list-title {
  margin-bottom: 30px;
  text-align: center;
  color: #FF651E;
  font-size: 18px;
}

.coupon-remark {
  padding-left: 10px;
  margin-bottom: 30px;
  text-align: left;
}
